${AnsiColor.BRIGHT_YELLOW}
     ██╗██████╗ ███████╗██╗  ████████╗███████╗ ██████╗ ██╗     ██╗   ██╗████████╗██╗ ██████╗ ███╗   ██╗
     ██║██╔══██╗██╔════╝██║  ╚══██╔══╝██╔════╝██╔═══██╗██║     ██║   ██║╚══██╔══╝██║██╔═══██╗████╗  ██║
     ██║██████╔╝█████╗  ██║     ██║   ███████╗██║   ██║██║     ██║   ██║   ██║   ██║██║   ██║██╔██╗ ██║
██   ██║██╔══██╗██╔══╝  ██║     ██║   ╚════██║██║   ██║██║     ██║   ██║   ██║   ██║██║   ██║██║╚██╗██║
╚█████╔╝██████╔╝███████╗███████╗██║   ███████║╚██████╔╝███████╗╚██████╔╝   ██║   ██║╚██████╔╝██║ ╚████║
 ╚════╝ ╚═════╝ ╚══════╝╚══════╝╚═╝   ╚══════╝ ╚═════╝ ╚══════╝ ╚═════╝    ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
${AnsiColor.DEFAULT}

@PROJECT_NAME@ @PROJECT_VERSION@ @SPRING_PROFILES_ACTIVE@
